 .screen-reader-text{
   border: 0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
   word-wrap: normal !important;
 }
 .screen-reader-text:focus {
   background-color: #eee;
   clip: auto !important;
   clip-path: none;
   color: #444;
   display: block;
   font-size: 1em;
   height: auto;
   left: 5px;
   line-height: normal;
   padding: 15px 23px 14px;
   text-decoration: none;
   top: 5px;
   width: auto;
   z-index: 100000; /* Above WP toolbar. */
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   src: local('Raleway'), local('Raleway-Regular'), url(font/Raleway.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }
body{
   font-family: 'Raleway', sans-serif;
   line-height: 1.4;
   color:$gray;
   font-size:20px;
   @media screen and (max-width: $tablet_width) {
      font-size: 16px;
   }
   @media screen and (max-width: $mobile_width) {
      font-size: 14px;
   }
}
html{
   scroll-behavior: smooth;
}
.wrapper{
   width:calc(100% - 2em);
   max-width: $wide_width;
   margin:auto;
   padding:0 1em;
}
h1{
   font-size: 2.5rem;
   @media screen and (max-width: $tablet_width) {
      line-height: 1.2;
   }
   @media screen and (max-width: $mobile_width) {
      line-height: 1;
   }
}
ul{
   list-style-type: none;
   li{
      padding:0;
   }
}
blockquote{
   border-left: solid 2px $green;
   padding-left:1em;
   font-style: italic;
}
a{
   color:$purple;
   &:hover{
      transition:color .6s;
      color:lighten($purple, 10%);
   }
}

.posts-navigation{
   text-align:center;
   margin:2em 0;
   .nav-links > div{
      display:inline-block;
      padding:0 1em;
   }
}
.entry-meta{
   text-align: right;
}

button:not(#link-menu), .button{
	display: inline-block;
	position:relative;
	//text-transform: uppercase;
	//font-size:1em;
	border: none;
	border-radius: 0;
	background: $purple;
	color:$white;
	min-width:125px;
	margin:.25em;
	padding:.5em .75em;
	text-align: center;
	cursor:pointer;
	text-decoration: none;
	
	&:hover:not(:disabled){
		text-decoration: none;
		color:$white;
		&:after{
			background: $purple;
			color:$white;
			transition: all .8s;
		}
		&:before{
			border-left:solid 1px $white;
			transition: all .4s;
		}
	}
	&:after{
		content:"\2192";
		
		position:absolute;
		top:0%;
		color:$purple;
		right:-35px;
		width:35px;
		background-color: $green;
		padding:.5em .25em;
		z-index: 2;
	}
	&:before{
		content:"";
		position:absolute;
		top:50%;
		transform: translateY(-50%);
		right:-2px;
		width:1px;
		height:.5em;
		border-left:solid 1px transparent;
		padding:.5em .25em;
		z-index: 4;
	}
	
}