@media print {

    header#masthead{
        display:none;
    }
    #cont-menu-full-screen{
        display:none;
    }
    #cont-menu{
        display:none;
    }
    .screen-reader-text{
        display:none;
    }
	footer#footer{
        display:none;
    }
    #content{
        h1.print{
            display:block;
            text-align: center;
        }
    }
}