@charset "UTF-8";
/*
Theme Name: I Have a Green
Theme URI: https://ihaveagreen.fr
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème enfant de Susty 
Version: 1.0
Template: susty-master
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@keyframes moveArrow {
  0% {
    transform: translate(-50%, 0);
  }
  75% {
    transform: translate(-50%, 1em);
  }
}

#masthead {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

#masthead .custom-logo {
  width: 150px;
  height: auto;
  position: relative;
}

#masthead .post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

#masthead .post-thumbnail img {
  width: 100vw;
  height: 100vh;
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
}

#masthead .post-thumbnail:after {
  content: "";
  opacity: .65;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#masthead #header_absolute {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  max-width: 800px;
}

@media screen and (max-height: 400px) {
  #masthead #header_absolute {
    top: 70%;
  }
}

#masthead #arrowDown {
  fill: #9FEE00;
  width: 40px;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translate(-50%, 0);
  cursor: pointer;
  animation: 3s ease infinite moveArrow;
}

#cont-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 300px;
  height: 300px;
  background: #000;
  overflow: hidden;
  transform: rotate(45deg) translateY(-250px);
}

#link-menu {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0;
  z-index: 11;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg) translate(-235px, 75px);
  background: none;
  border: none;
  cursor: pointer;
}

#link-menu span {
  opacity: 1;
  display: block;
  background: #9FEE00;
  border-radius: 2px;
  height: 4px;
  width: 40px;
}

#link-menu span.burger::after, #link-menu span.burger::before {
  content: "";
  opacity: 1;
  display: block;
  background: #9FEE00;
  border-radius: 2px;
  height: 4px;
  width: 40px;
}

#link-menu span.burger:before {
  transform: translateY(-12px);
}

#link-menu span.burger:after {
  transform: translateY(8px);
}

#link-menu span.cross, #link-menu span.cross:before, #link-menu span.cross:after {
  opacity: 0;
}

#link-menu:active, #link-menu:focus {
  border: none;
  outline: none;
}

#link-menu:active .burger, #link-menu:active .burger::before, #link-menu:active .burger:after, #link-menu:focus .burger, #link-menu:focus .burger::before, #link-menu:focus .burger:after {
  transition: opacity 1s;
  opacity: 0;
}

#link-menu:active .cross, #link-menu:focus .cross {
  opacity: 1;
  transition: opacity 1s;
  background: #9FEE00;
  border-radius: 2px;
  height: 4px;
  width: 40px;
  transform: rotate(45deg) translate(-3px, -3px);
}

#link-menu:active .cross::before, #link-menu:focus .cross::before {
  content: "";
  display: block;
  opacity: 1;
  background: #9FEE00;
  border-radius: 2px;
  height: 4px;
  width: 40px;
  transform: rotate(90deg);
}

#cont-menu-full-screen {
  position: fixed;
  top: 0;
  left: -100vw;
  transition: left .75s ease;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(105deg, #121212 0%, #121212 50%, #000 50%, #000 100%);
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #cont-menu-full-screen {
    background-image: linear-gradient(100deg, #121212 0%, #121212 50%, #000 50%, #000 100%);
  }
}

#cont-menu-full-screen li {
  padding: .5em 0;
}

@media screen and (max-width: 400px) {
  #cont-menu-full-screen li {
    padding: 0;
  }
}

#cont-menu-full-screen a {
  color: #999;
  font-size: 1.5rem;
  text-decoration: none;
}

#cont-menu-full-screen a:hover {
  color: #fff;
  transition: color .5s;
}

#cont-menu-full-screen .custom-logo {
  margin: 0 1em;
  width: 150px;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0.1;
  transform: translate(-50%, -250px);
}

#cont-menu-full-screen #site-navigation {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  max-width: 45%;
  opacity: 0.1;
}

@media screen and (max-width: 1024px) {
  #cont-menu-full-screen #site-navigation {
    max-width: 100%;
  }
}

#cont-menu-full-screen #right-menu-full-screen {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  color: #fff;
  max-width: 45%;
  opacity: 0.1;
}

@media screen and (max-width: 1024px) {
  #cont-menu-full-screen #right-menu-full-screen {
    display: none;
  }
}

#cont-menu-full-screen #bottom-menu-full-screen {
  opacity: 0.1;
  margin: 0;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

#cont-menu-full-screen #bottom-menu-full-screen p, #cont-menu-full-screen #bottom-menu-full-screen li {
  padding: 0;
  margin: 0;
}

#cont-menu-full-screen #bottom-menu-full-screen svg {
  width: 30px;
  height: auto;
  fill: #999;
  margin: 1em;
}

#cont-menu-full-screen #bottom-menu-full-screen a:hover svg {
  transition: fill 1s;
  fill: #fff;
}

#cont-menu-full-screen.openMenu {
  display: block;
  left: 0;
  transition: left .75s ease;
}

#cont-menu-full-screen.openMenu #bottom-menu-full-screen {
  opacity: 1;
  transition-delay: .5s;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function: ease;
}

@media screen and (max-width: 400px) {
  #cont-menu-full-screen.openMenu #bottom-menu-full-screen {
    display: none;
  }
}

#cont-menu-full-screen.openMenu #site-navigation {
  opacity: 1;
  transition-delay: .5s;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

#cont-menu-full-screen.openMenu #right-menu-full-screen {
  opacity: 1;
  transition-delay: .75s;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
}

#cont-menu-full-screen.openMenu .custom-logo {
  transform: translate(-50%, 0px);
  opacity: 1;
  transition-delay: .5s;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease;
}

@media screen and (max-width: 400px) {
  #cont-menu-full-screen.openMenu .custom-logo {
    display: none;
  }
}

#content h1.print {
  display: none;
}

#content article.wrapper > div {
  max-width: 800px;
}

#content article.wrapper > div h2 {
  padding-top: 1em;
}

#content article.wrapper > div h2:before {
  content: "";
  display: block;
  width: 2em;
  border-top: solid 2px #9FEE00;
  padding-bottom: .5em;
}

#footer {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

#footer a {
  text-decoration: none;
}

#footer .col {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

@media screen and (max-width: 800px) {
  #footer .col {
    grid-template-columns: 1fr;
  }
}

#footer .col .custom-logo-link {
  border-left: solid 1px #9FEE00;
  border-right: solid 1px #9FEE00;
}

@media screen and (max-width: 800px) {
  #footer .col .custom-logo-link {
    border: none;
  }
}

#footer .col #left-footer {
  position: relative;
}

#footer .col #left-footer > ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer .col #left-footer > ul svg {
  width: 40px;
  height: auto;
  fill: #fff;
  margin: 1em;
}

@media screen and (max-width: 400px) {
  #footer .col #left-footer > ul svg {
    width: 35px;
  }
}

#footer .col #left-footer > ul a:hover svg {
  transition: fill 1s;
  fill: #9FEE00;
}

#footer ul {
  padding: 0;
  margin: 0;
}

#footer #bottom-footer {
  font-size: .8rem;
}

.cookie-notice-container .button {
  margin-right: 5em;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(font/Raleway.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  color: #333;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: calc(100% - 2em);
  max-width: 1200px;
  margin: auto;
  padding: 0 1em;
}

h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  h1 {
    line-height: 1.2;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    line-height: 1;
  }
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0;
}

blockquote {
  border-left: solid 2px #9FEE00;
  padding-left: 1em;
  font-style: italic;
}

a {
  color: #7109AA;
}

a:hover {
  transition: color .6s;
  color: #910cda;
}

.posts-navigation {
  text-align: center;
  margin: 2em 0;
}

.posts-navigation .nav-links > div {
  display: inline-block;
  padding: 0 1em;
}

.entry-meta {
  text-align: right;
}

button:not(#link-menu), .button {
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 0;
  background: #7109AA;
  color: #fff;
  min-width: 125px;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

button:not(#link-menu):hover:not(:disabled), .button:hover:not(:disabled) {
  text-decoration: none;
  color: #fff;
}

button:not(#link-menu):hover:not(:disabled):after, .button:hover:not(:disabled):after {
  background: #7109AA;
  color: #fff;
  transition: all .8s;
}

button:not(#link-menu):hover:not(:disabled):before, .button:hover:not(:disabled):before {
  border-left: solid 1px #fff;
  transition: all .4s;
}

button:not(#link-menu):after, .button:after {
  content: "\2192";
  position: absolute;
  top: 0%;
  color: #7109AA;
  right: -35px;
  width: 35px;
  background-color: #9FEE00;
  padding: .5em .25em;
  z-index: 2;
}

button:not(#link-menu):before, .button:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2px;
  width: 1px;
  height: .5em;
  border-left: solid 1px transparent;
  padding: .5em .25em;
  z-index: 4;
}

form .formCont, form .formCheckBox {
  position: relative;
  margin-top: 1em;
}

form input[type="text"],
form input[type="email"],
form input[type="url"],
form input[type="password"],
form input[type="search"],
form input[type="number"],
form input[type="tel"],
form input[type="range"],
form input[type="date"],
form input[type="month"],
form input[type="week"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="color"],
form textarea {
  -webkit-backface-visibility: hidden;
  background: #fff;
  border: none;
  border-bottom: solid 1px #7109AA;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  margin-top: 1em;
  width: 100%;
}

form input[type="text"] + label,
form input[type="email"] + label,
form input[type="url"] + label,
form input[type="password"] + label,
form input[type="search"] + label,
form input[type="number"] + label,
form input[type="tel"] + label,
form input[type="range"] + label,
form input[type="date"] + label,
form input[type="month"] + label,
form input[type="week"] + label,
form input[type="time"] + label,
form input[type="datetime"] + label,
form input[type="datetime-local"] + label,
form input[type="color"] + label,
form textarea + label {
  position: absolute;
  top: 1em;
  left: 1em;
  color: #7109AA;
  opacity: 0;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="password"]:focus,
form input[type="search"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form input[type="range"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="week"]:focus,
form input[type="time"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="color"]:focus,
form textarea:focus {
  border-color: #9FEE00;
  transition: all .4s;
}

form input[type="text"]:focus + label,
form input[type="email"]:focus + label,
form input[type="url"]:focus + label,
form input[type="password"]:focus + label,
form input[type="search"]:focus + label,
form input[type="number"]:focus + label,
form input[type="tel"]:focus + label,
form input[type="range"]:focus + label,
form input[type="date"]:focus + label,
form input[type="month"]:focus + label,
form input[type="week"]:focus + label,
form input[type="time"]:focus + label,
form input[type="datetime"]:focus + label,
form input[type="datetime-local"]:focus + label,
form input[type="color"]:focus + label,
form textarea:focus + label {
  transform: translate(-2em, -1.25em) scale(0.8);
  opacity: 1;
  transition: transform .4s;
}

form input[type="text"]:focus::placeholder,
form input[type="email"]:focus::placeholder,
form input[type="url"]:focus::placeholder,
form input[type="password"]:focus::placeholder,
form input[type="search"]:focus::placeholder,
form input[type="number"]:focus::placeholder,
form input[type="tel"]:focus::placeholder,
form input[type="range"]:focus::placeholder,
form input[type="date"]:focus::placeholder,
form input[type="month"]:focus::placeholder,
form input[type="week"]:focus::placeholder,
form input[type="time"]:focus::placeholder,
form input[type="datetime"]:focus::placeholder,
form input[type="datetime-local"]:focus::placeholder,
form input[type="color"]:focus::placeholder,
form textarea:focus::placeholder {
  opacity: 0;
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="url"]::placeholder,
form input[type="password"]::placeholder,
form input[type="search"]::placeholder,
form input[type="number"]::placeholder,
form input[type="tel"]::placeholder,
form input[type="range"]::placeholder,
form input[type="date"]::placeholder,
form input[type="month"]::placeholder,
form input[type="week"]::placeholder,
form input[type="time"]::placeholder,
form input[type="datetime"]::placeholder,
form input[type="datetime-local"]::placeholder,
form input[type="color"]::placeholder,
form textarea::placeholder {
  opacity: 1;
}

form .formCheckBox {
  font-size: .7rem;
}

form .formButton {
  margin: 1em;
  text-align: center;
}

form .contResponse {
  opacity: 0;
}

form.response .contResponse {
  margin: 2em 0;
  opacity: 1;
  transition-delay: 1s;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

form.response *:not(.contResponse) {
  opacity: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease;
}

@media print {
  header#masthead {
    display: none;
  }
  #cont-menu-full-screen {
    display: none;
  }
  #cont-menu {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
  #content h1.print {
    display: block;
    text-align: center;
  }
}
