#content{
    h1.print{
        display:none;
    }
    article.wrapper > div{
        max-width:$tablet_width;
        h2{
            padding-top:1em;
            &:before{
                content:"";
                display:block;
                width:2em;
                border-top:solid 2px $green;
                padding-bottom:.5em;
            }
        }
    }
}