#footer{
    background-color:$black;
    color:$white;
    font-size:16px;
    text-align: center;
    a{
        text-decoration: none;
    }
    .col{
        padding:2em 0;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:1em;
        @media screen and (max-width: $tablet_width) {
            grid-template-columns: 1fr ;
        }
        .custom-logo-link{
            border-left:solid 1px $green;
            border-right:solid 1px $green;
            @media screen and (max-width: $tablet_width) {
                border:none;
            }
        }
        #left-footer{
            position:relative;
            &>ul{
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                svg{
                    width:40px;
                    @media screen and (max-width: $mobile_width) {
                        width:35px;
                    }
                    height:auto;
                    fill: $white;
                    margin:1em;
                }
                a:hover svg{
                    transition: fill 1s;
                    fill:$green;
                }
            }
        }
    }
    ul{
        padding:0;
        margin:0;
    }
    #bottom-footer{
        font-size:.8rem;
    }
}
.cookie-notice-container{
    .button{
        margin-right:5em;
    }
}