#masthead{
    position: relative;
    width:100vw;
    height:100vh;
    color:$white;
    .custom-logo{
        width:150px;
        height:auto;
        position: relative;
    }
    .post-thumbnail{
        position:absolute;
        top:0;
        left:0;
        img{
            width:100vw;
            height:100vh;
            align-self: stretch;
            justify-self: stretch;
            object-fit: cover;
        }
        &:after{
            content:"";
            opacity: .65;
            background-color: black;
            position: absolute;
            left: 0; 
            top: 0; 
            width:100vw;
            height:100vh; 
        }
    }
    #header_absolute{
        position:absolute;
        top:60%;
        transform: translateY(-60%);
        max-width:$tablet_width;
        @media screen and (max-height: $mobile_width) {
            top:70%;
        }
    }
    #arrowDown{
        fill:$green;
        width:40px;
        height:auto;
        position: absolute;
        left:50%;
        bottom:2em;
        transform: translate(-50%, 0);
        cursor:pointer;
        animation: 3s ease infinite moveArrow;
        
    }
}
