
#cont-menu{
    position: fixed;
    top:0;
    right:0;
    z-index:10;
    width: 300px;
    height:300px;
    background: $black;
    overflow: hidden;
    transform: rotate(45deg) translateY(-250px);
}
#link-menu{
    position: fixed;
    top:1em;
    right:1em;
    padding:0;
    z-index:11;
    width:40px;
    height:40px;
    transform: rotate(-45deg) translate(-235px, 75px);
    background:none;
    border:none;
    cursor:pointer;
    span{
        opacity: 1;
        display:block;
        background:$green;
        border-radius:2px;
        height:4px;
        width:40px;
        &.burger{
            &::after, &::before{
                content:"";
                opacity: 1;
                display:block;
                background:$green;
                border-radius:2px;
                height:4px;
                width:40px;
            }
            &:before{
                transform: translateY(-12px);
            }
            &:after{
                transform: translateY(8px);
            }
        }
        &.cross, &.cross:before, &.cross:after{
            opacity: 0;
        }
    }
    &:active, &:focus{
        border:none;
        outline: none;
        .burger, .burger::before, .burger:after{
            transition: opacity 1s;
            opacity: 0;
        }
        .cross{
            opacity: 1;
            transition: opacity 1s;
            background:$green;
            border-radius:2px;
            height:4px;
            width:40px;
            transform: rotate(45deg) translate(-3px, -3px);
            &::before{
                content:"";
                display:block;
                opacity: 1;
                background:$green;
                border-radius:2px;
                height:4px;
                width:40px;
                transform: rotate(90deg);
            }
        }
    }
}
#cont-menu-full-screen{
    position: fixed;
    top:0;
    left:-100vw;
    transition: left .75s ease;
    z-index:6;
    width: 100vw;
    height: 100vh;
    color:$white;
    background-image: linear-gradient(105deg, #121212 0%,#121212 50%, #000 50%, #000 100%);
    @media screen and (max-width: $wide_width) {
        background-image: linear-gradient(100deg, #121212 0%,#121212 50%, #000 50%, #000 100%);
    }
    overflow: hidden;
    li{
        padding:.5em 0;
        @media screen and (max-width: $mobile_width) {
            padding:0;
        }
        
    }
    a{
        color:$gray-light;
        font-size:1.5rem;
        text-decoration: none;
        &:hover{
            color:$white;
            transition: color .5s;
        }
    }
    .custom-logo{
        margin:0 1em;
        width:150px;
        height:auto;
        position: absolute;
        top:0;
        left:50%;
        opacity:0.1;
        transform:translate(-50%,-250px);
    }
    #site-navigation{
        position:absolute;
        top:50%;
        left:1em;
        transform: translateY(-50%);
        max-width:45%;
        @media screen and (max-width: $desktop_width) {
            max-width:100%;
        }
        opacity:0.1;   
    }
    #right-menu-full-screen{
        position:absolute;
        top:50%;
        right:1em;
        transform: translateY(-50%);
        color:$white;
        max-width:45%;
        opacity:0.1;
        @media screen and (max-width: $desktop_width) {
            display:none;
        }
    }
    #bottom-menu-full-screen{
        opacity:0.1;
        p, li{
            padding:0;
            margin:0;
        }
        margin:0;
        position:absolute;
        bottom:0.5em;
        left:50%;
        transform: translateX(-50%);
        color:$white; 
        svg{
            width:30px;
            height:auto;
            fill: $gray-light;
            margin:1em;
        }
        a:hover svg{
            transition: fill 1s;
            fill:$white;
        }
    }
    &.openMenu{
        display:block;
        left:0;
        transition: left .75s ease;
        #bottom-menu-full-screen{
            opacity :1;
            transition-delay: .5s;
            transition-property: opacity;
            transition-duration: .5s;
            transition-timing-function: ease;
            @media screen and (max-width: $mobile_width) {
                display:none;
            }
        }
        #site-navigation{
            opacity :1;
            transition-delay: .5s;
            transition-property: opacity;
            transition-duration: 1.5s;
            transition-timing-function: ease;
        }
        #right-menu-full-screen{
            opacity :1;
            transition-delay: .75s;
            transition-property: opacity;
            transition-duration: 2s;
            transition-timing-function: ease;
        }
        .custom-logo{
            transform:translate(-50%,0px);
            opacity:1;
            transition-delay: .5s;
            transition-property: transform;
            transition-duration: 2s;
            transition-timing-function: ease;
            @media screen and (max-width: $mobile_width) {
                display:none;
            }
        }
    }
}